.dotes {
  font-size: 35px;
  padding-top: 130px;
  position: center;
  transition: 5s;
}
.fade {
  transition: opacity 4.5s;
}
.text {
  // width: 50vw;
  height: 15vh;
}
.fade-in {
  opacity: 0;
}

.fade-out {
  opacity: 1;
}

.lAct {
  // * {
  //   animation: change-opticy 10s;
  // }
  height: 100px;
  transform: translate(-200px, 0px);
  transition-duration: 9s;
  transition-timing-function: cubic-bezier(0.04, 0.88, 1, 0.15);
}
.rAct {
  // * {
  //   animation: change-opticy 10s;
  // }
  height: 100px;
  transform: translate(200px, 0px);
  transition-duration: 9s;
  transition-timing-function: cubic-bezier(0.04, 0.88, 1, 0.15);
}

// @keyframes change-opticy {
//   0% {
//     opacity: 0;
//   }
//   10% {
//     opacity: 0.1;
//   }
//   80% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
