.App {
  background-color: #e7caa8;
  overflow-x: clip;
  font-family: "Microsoft Sans Serif", Courier, monospace !important;
}
/* Ширина, цвет и стиль скроллбара */
::-webkit-scrollbar {
  width: 10px; /* ширина скроллбара */
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

/* Штука, которую можно перетаскивать для прокрутки окна */
::-webkit-scrollbar-thumb {
  background-color: #dad7d7;
  border-radius: 10px;
  border: 2px solid #f4f4f4;
}

/* Если курсор находится на скроллбаре */
::-webkit-scrollbar-thumb:hover {
  background-color: #753840;
}
